.chart-container{
  display: flex;
  margin: 4% auto;
  width: 50%;
  height: auto;
  flex-direction: column;
  gap: 12em;
}

.info-icon{
  position: absolute;
  right:3%;
  color:grey;
}

.info-icon-text{
  position: absolute;
  right:2%;
  top:19px;
  max-width: 20%;
  z-index: 3;
}
