.chart-container{
  display: flex;
  margin: 4% auto;
  align-items: center;
  width: 90%;
  height: auto;
  flex-direction: column;
  gap: 12em;
}

.info-icon{
  position: absolute;
  right:3%;
  color:rgb(122, 122, 122);
}

.info-icon-text{
  position: absolute;
  right:-12%;
  top:22px;
  max-width: 200px;
  font-size: 14px;
  color: grey;
  padding: 2em;
  background-color: rgb(231,235,240);
  border-radius: 5%;
}

.normal{
  transition: 1s;
  display: initial;
}

.none{
  transition: 1s;
  display: none;
}

.tracker-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}